/* Contact */

.contact .contact-info {
}

.contact .contact-info .info {
  margin-bottom: 2rem;
}

.contact .contact-info .info i {
  background: #ff1b3129;
  border-radius: 50%;
  color: #dc3545;
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  justify-content: center;
  margin-right: 1rem;
  padding: 1rem;
  box-sizing: content-box;
  width: 30px;
  height: 30px;
}

.contact .contact-info .info:hover i {
  color: #fff;
  background: #dc3545;
  transition: all .5s ease;
}

.contact .contact-info .info h5 {
  margin-bottom: 2px;
  font-weight: 600;
}

.contact .contact-info .info a {
  font-size: 14px;
  color: #00000080;
}

.contact .contact-info .info a:hover {
  color: #dc3545;
  transition: all .5s ease;
}